@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-bg-color: #000;
  --primary-text-color: #fff;
  --common-padding: 0 8vw;
}
body {
  font-family: "League Spartan", sans-serif;
}
a {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  text-decoration: none;
}

header {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--common-padding);
}
header .options {
  cursor: pointer;
}
main {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
main h1 {
  font-family: "League Gothic", sans-serif;
}
.options-container {
  background-color: #fff;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: -10vh;
  left: 0;
  transform: translateX(100vw);
  transition: transform 0.5s ease-in-out;
}
.active {
  transform: translateX(0);
}
